.svn
/frontend/nbproject/private/
/frontend/node_modules/*
/frontend2/nbproject/private/
/frontend2/node_modules/*
/jparestresource/target/generated-sources/archetype/target/
/jparestresource/target/
/jparestresource/jparestresource-api/target/
/jparestresource/jparestresource-web/target/
/jparestresource/jparestresource-web/src/site/xhtml/application.xhtml
/jparestresource/jparestresource-web/src/site/xhtml/model.xhtml
/archetype/sampleapplication