<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="testappjava" transaction-type="RESOURCE_LOCAL">
        <non-jta-data-source>java:/comp/env/jdbc/testapp</non-jta-data-source>
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <class>ru.ilb.mavenproject1.Document</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <!-- ГЕНЕРАЦИЯ МЕТАДАННЫХ НА ОСНОВЕ МОДЕЛИ -->
            <!-- ВСЕ ДЕЙСТВИЯ ПРОИЗВОДЯТЬСЯ МОМЕНТ ДЕПЛОЯ, В ТОМ ЧИСЛЕ DEPLOY ON SAVE -->
            <!-- ОПИСАНИЕ ПОЛЕЙ: http://wiki.eclipse.org/EclipseLink/Release/2.5/JPA21#DDL_generation -->
            
            <!-- генерация таблиц в БД: none, create, drop-and-create, drop, create-or-extend-tables -->
            <!-- !!! НЕ ИСПОЛЬЗОВАТь ЗНАЧЕНИЕ drop-and-create в PRODUCTION !!! ТОЛЬКО ПРИ РАЗРАБОТКЕ !!! -->
            <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
            
            <!-- генерация таблиц БД из скрипта
            <property name="javax.persistence.schema-generation.create-source" value="script"/>
            <property name="javax.persistence.schema-generation.create-script-source" value="META-INF/sql/create.sql" />
            <property name="javax.persistence.schema-generation.drop-source" value="script" />
            <property name="javax.persistence.schema-generation.drop-script-source" value="META-INF/sql/drop.sql" />       
            -->
            
            <!-- инициализация данных -->
            <property name="javax.persistence.sql-load-script-source" value="META-INF/sql/data.sql" />
            
            <!-- генерация DDL в файлах, данные файлы можно взять за основу структуры БД, либо выгрузить их дампом из тестовой базы  -->
            <!-- к сожалению, eclipselink, в отличие от hibernate, не учитывает аннотации JSR-303 @Size при генерации DDL -->
            <property name="javax.persistence.schema-generation.scripts.action" value="drop-and-create"/>
            <property name="javax.persistence.schema-generation.scripts.create-target" value="/tmp/create.sql"/>
            <property name="javax.persistence.schema-generation.scripts.drop-target" value="/tmp/drop.sql"/>
            
            <!-- отладка -->
            <property name="eclipselink.logging.level" value="FINE"/> 
        </properties>
    </persistence-unit>
</persistence>
