#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true" path="/${parentArtifactId}">
    <Resource name="jdbc/${parentArtifactId}"
              auth="Container" type="javax.sql.DataSource"
              maxActive="10" maxIdle="1" maxWait="20000"
              removeAbandoned="true" removeAbandonedTimeout="100" logAbandoned="true"
              driverClassName="com.mysql.jdbc.Driver"
              validationQuery="SELECT 1"
              username="${parentArtifactId}" password="${parentArtifactId}"
              url="jdbc:mysql://devel:3306/${parentArtifactId}?autoReconnect=true&amp;elideSetAutoCommits=true&amp;useLocalSessionState=true&amp;maintainTimeStats=false&amp;serverTimezone=Europe/Moscow"
    />
</Context>
