<?xml version="1.0" encoding="UTF-8"?>
<Context path="/jparestresource-web">
    <Loader loaderClass="org.springframework.instrument.classloading.tomcat.TomcatInstrumentableClassLoader"/>
    <Resource name="jdbc/jparestresource"
              auth="Container" type="javax.sql.DataSource"
              maxActive="10" maxIdle="1" maxWait="20000"
              removeAbandoned="true" removeAbandonedTimeout="100" logAbandoned="true"
              driverClassName="com.mysql.jdbc.Driver"
              validationQuery="SELECT 1"
              username="jparestresource" password="jparestresource"
              url="jdbc:mysql://devel:3306/jparestresource?autoReconnect=true&amp;elideSetAutoCommits=true&amp;useLocalSessionState=true&amp;maintainTimeStats=false&amp;serverTimezone=Europe/Moscow"
    />
</Context>
